:root {

--bg-bege: #F4EED8;
--barra: #3D9E71;
--card-blue: #0D5C9E;
--bordas: #1A1A1A;
--cinza-imagem: #D9D9D9; /* Placeholder das imagens*/


/* Cores das Tags: */

--accent-laranja: #E86D0D;
--accent-rosa: #F39FB3;
--accent-amarelo: #EDC809;
--accent-azul-claro: #2CB3D4;

}

* {
box-sizing: border-box;
margin: 0;
padding: 0;
}
/* formatação dos frames */
.tags-container {
  display: flex;
  gap: 15px;
  margin-bottom: 40px;
  flex-wrap: wrap;

}
.main-container {
  padding: 40px;
  max-width: 1400px;
  margin: 0 auto;
}

/* formatação das "tags" ou botões */
.tag {
  padding: 12px 20px;
  border-radius: 50px;
  border: 2px solid var(--bordas);
  font-weight: 600;
  cursor: pointer;
}

body {
background-color: var(--bg-creme);
font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fonte limpa sem serifa */
color: var(--borda-escura);
}